<header>
    <title><%= @user.username %>'s Profile</title>
</header>
<body>
    <h1><%= @user.username.capitalize %>'s Profile!</h1>
    <h2>PC<%= multiple_pcs?('s') %> 
        <% if @user.id == session[:user_id] %>
            || <a href="/pcs/new">Add PC</a>
        <% end %></h2>
    <table width="90%" class="center">
        <tr>
            <th>Name</th>
            <th>Processor</th>
            <th>Graphics Card</th>
            <th>Ram</th>
            <th>Storage</th>
            <th>Power Supply</th>
            <th></th>
            <th></th>
        </tr>
        <% @user.pcs.each do |pc| %>
            <tr>
                <td><%= pc.name ? pc.name : pc.id %></td>
                <td><%= pc.cpu_brand %> <%= pc.cpu_model %></td>
                <td><%= pc.gpu_brand %> <%= pc.gpu_model %></td>
                <td><%= pc.ram %>GB</td>
                <td><%= pc.storage_size %> <%= pc.storage_type %></td>
                <td><%= pc.psu %> <%= pc.psu_watts %> <%= "80 Plus" if pc.psu_80plus %></td>
                <% if @user == current_user %>
                    <td><a href="/pcs/<%= pc.id %>/edit">Edit</a></td>
                    <td><a href="/pcs/<%= pc.id %>/delete">Delete</a></td>
                <% end %>
            </tr>
        <% end %>
    </table>

    <h3>Game Benchmarks
    <% if @user.id == session[:user_id] %>
        || <a href="/games/new">Add Benchmark</a>
    <% end %></h3>
    <table width="90%" class="center">
        <tr>
            <th>PC</th>
            <th>Name</th>
            <th>Quality</th>
            <th>Resolution</th>
            <th>Average FPS</th>
            <th></th>
            <th></th>
        </tr>
        <% @user.games.each do |game| %>
            <tr>
                <td><%= game.pc.name ? game.pc.name : game.pc.id %></td>
                <td><%= game.name %></td>
                <td><%= game.quality %></td>
                <td><%= game.resolution_x %> x <%= game.resolution_y %></td>
                <td><%= game.avg_fps %></td>
                <% if @user == current_user %>
                    <td><a href="">Edit</a></td>
                    <td><a href="/games/<%= game.id %>/delete">Delete</a></td>
                <% end %>
            </tr>
        <% end %>
    </table>
    

</body>