<!DOCTYPE html>
<head>
    <title>Game Bench</title>

</head>
<body>
    <h1>Game Bench Home Page!</h1>

    

    <a href="/pcs/new">Add A New PC</a><br>
    <a href="/games/new">Add A Game Benchmark</a><br>
    <br>
    <table width="100%">
        <tr>
            <th>Game</th>
            <th>Avg FPS</th>
            <th>Settings</th>
            <th>Resolution</th>
            <th>Processor</th>
            <th>Graphics Card</th>
            <th>Username</th>
            <th></th>
        </tr>
        <% @games.each do |game| %>
            <tr>
                <td><%= game.name %></td>
                <td><%= game.avg_fps %></td>
                <td><%= game.quality %></td>
                <td><%= game.resolution_x %> x <%= game.resolution_y %></td>
                <td><%= game.pc.cpu_brand %> <%= game.pc.cpu_model %></td>
                <td><%= game.pc.gpu_brand %> <%= game.pc.gpu_model %></td>
                <td><a href="/users/<%= game.pc.user.id %>"><%= game.pc.user.username %></a></td>
                <td><a href="/games/<%= game.id %>">Details</a></td>
            </tr>
        <% end %>
    </table>
</body>

</html>